.low-opacity-bg-image{
    position: relative;
    isolation: isolate;
    height: 100vh;
    margin: 0px 13%;
}

.low-opacity-bg-image::after{
    content: '';
    position: absolute;
    /* background-color: rgba(255, 192, 203, 0); */
    inset: 0;
    z-index: -1;
    opacity: 0.3;
    background-image: url(../../../Images/bafsdwc.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}